.write{
    padding-top: 50px;
}

.writeForm{
    position: relative;
}

.writeFormGroup{
    margin-left: 0px;
    display: flex;
    align-items: center;
}

.writeIcon{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1 solid;
    font-size: 20px;
    color: rgb(121,188,188);
    cursor: pointer;
}

.writeInput{
    margin-left: 0px;
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
}

.writeInput:focus{
    outline: none;
}

.writeText{
    font-size: 20px;
    height: 100vh;
}
.cancel{
    position: absolute;
    top: 20px;
    right: 70px;
    color: white;
    background-color: rgb(219, 40, 40);
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.writeSubmit{
    position: absolute;
    top: 20px;
    right: 0px;
    color: white;
    background-color: rgb(6, 112, 50);
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

.writeImg{
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}
