*{
    margin: 0px;
    overflow-x: hidden;
}

.img{
    background: url('https://images.pexels.com/photos/262508/pexels-photo-262508.jpeg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 150vh;

}